.FormGroup {
  width: 60%;
  margin: 10px 0;
  padding: 0;
  border-style: none;
  background-color: #ffff;
  will-change: opacity, transform;
  border-radius: 4px;
  align-self: center;
  border: solid 1px black;
}
.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}
.StripeElement--webkit-autofill {
  background: transparent !important;
}
.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
.stripe-button {
  display: block;
  font-size: 16px;
  width: 60%;
  height: 40px;
  margin: 0 0 10px 0;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
  align-self: center;
}
.stripe-button:hover {
  background-color: white;
  border: black solid 1px;
  color: black;
  transition-delay: 0.02s;
}
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 75%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto Slab", sans-serif;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: auto;
}
.content-wrapper {
  margin: auto;
  margin-top: 20vh;
  width: 60%;
  padding: auto;
  background-color: #C3C3FD;
}
p {
  font-size: 16px;
  font-weight: 500;
}
.time_form {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: auto;
  height: auto;
  width: 100%;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: auto;
  width: 100%;
}
.clockIn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-content: center;
  width: 75%;
  height: 35px;
  margin: auto;
  padding: auto;
}
label {
  line-height: 10%;
  margin: auto;
  margin-right: 5%;
  padding: auto;
  font-size: 16px;
}
input {
  width: 100px;
  margin: auto;
  padding: auto;
}
.clear_btn {
  width: 100px;
  height: 35px;
  padding: auto;
  margin: auto;
  margin-top: 10px;
}
.pay-content p {
  font-size: 24px;
  margin-bottom: 5px;
}
